@import "../base/_typography.scss";
@import "../base/_variables.scss";
@import "../base/_mixins.scss";

.hero {
    margin-top: -100px;
    &__filter {
        background: linear-gradient($color-secondary, $color-primary);
        width: 100%;
        height: 100%;
        opacity: .8;
    }

    &__image {
        top: 0;
        position: absolute;
        z-index: -10;
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-image: url('../../img/bg.jpg');
    }

    &__content {
        text-align: center;
    }

    &__title {
        @include rfs(64);
        font-weight: $font-weight-light;
        text-transform: initial;
        color: $font-color-light;
    }

    &__description {
        @include rfs(48);
        font-weight: $font-weight-semi-bold;
        color: $font-color-light;
    }
}