$body-background-color: #f8f8f8;

$background-color: #f8f8ff;
$background-color-light: #fff;


$color-text-light: #fff;
$color-text-dark: #2E282A;
$color-text-theme: #17BEBB;
$color-text-dark-faded: #666A73;

$color-primary: #660066;
$color-secondary: #011f4b;

$font-color-light: #FCFCFC;

