@{
    ViewData["Title"] = "Index";
}

<div class="h-100">
    <div class="h-100 w-100 d-table">
        <div class="d-table-cell align-middle">

            <div class="hero">
                <div class="hero__image">
                    <div class="hero__filter">
                    </div>
                </div>

                <div class="hero__content">
                    <div class="hero__title">
                        Fii Prezent
                    </div>
                    <div class="hero__description">
                        Are you special enough to join?
                    </div>
                    <button class="btn btn--hero">Browse Events</button>
                </div>
            </div>
        </div>
    </div>
</div>
da