@using FiiPrezent.Web.Models
@model FiiPrezent.Web.Models.JoinEventViewModel
@{
    ViewData["Title"] = "Join Event";
}

<section class="hero is-medium has-bg-img">
    <img src="~/img/bg.jpg" class="is-bg-img" />
    <div class="hero-filter"></div>
    <div class="hero-head">
        @Html.Partial("../Shared/_NavigationPartial.cshtml")
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-spaced">
                Join an event
            </h1>
            <h2 class="subtitle">
                You can join any event. If you have the code...
            </h2>
        </div>
    </div>
</section>

<div class="container card-box">
    <div class="card-box__title">
        Do you have the code?
    </div>
    <form asp-controller="Home" asp-action="Join" method="post">
        <div class="columns">
            <div class="column">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="field">
                    <div class="control has-icons-left">
                        <input asp-for="Code" class="input is-medium" placeholder="Secret code">
                        <span class="icon is-small is-left">
                            <i class="fa fa-key"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Code" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-2">
                <div class="field">
                    <button type="submit" class="button is-primary is-medium is-fullwidth">join</button>
                </div>
            </div>
        </div>
    </form>
</div>