@import "../base/_variables.scss";
@import "../base/_typography.scss";
@import "../base/_mixins.scss";

.button--hero {
    border-width: 2px;
    margin-top: 20px;
}

.button--facebook {
    background-color: #4267b2;
    color: $font-color-light;
    border: none;

    &:hover {
        color: $font-color-light;
        background-color: #3e61a8;
    }
}