@import "../base/_typography.scss";
@import "../base/_variables.scss";
@import "../base/_mixins.scss";

.event {
    &:hover {
        @include box_shadow(2);
    }

    .title a {
        color: $font-color-dark;
        font-weight: normal;
    }

    .content {
        color: $font-color-dark-faded;
    }
}