@import "../base/_variables.scss";
@import "../base/_typography.scss";
@import "../base/_mixins.scss";

.participants {
    padding: 20px 10px;

    .participant {
        border-radius: 5px;
        margin-bottom: 20px;
        margin-right: 20px;
        @include box_shadow(1);

        .name {
            color: $font-color-dark;
        }

        .icon {
            cursor: pointer;
            color: $font-color-dark-faded;
            margin-bottom: 10px;

            &:hover {
                color: #4267b2;
            }
        }

        img {
            width: 75px;
            height: 75px;
            margin: 20px auto;
        }

        &:hover {
            @include box_shadow(2);
        }
    }
}