@model BrowseViewModel

@{
    ViewData["Title"] = "Browse";
}

@section Styles {
    <link href="~/lib/bulma-calendar/dist/bulma-calendar.min.css" rel="stylesheet"/>
}

@section Scripts {
    <script src="~/lib/bulma-calendar/dist/bulma-calendar.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded',
            function() {
                var datePicker = new bulmaCalendar(document.getElementById('Filter_Date'),
                    {
                        overlay: true,
                        closeOnSelect: true,
                        dateFormat: 'dd.mm.yyyy'
                    });
            });
    </script>
}

<section class="hero is-medium has-bg-img">
    <img src="~/img/bg.jpg" class="is-bg-img"/>
    <div class="hero-filter"></div>
    <div class="hero-head">
        @Html.Partial("_NavigationPartial")
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-spaced">
                Browse events
            </h1>
            <h2 class="subtitle">
                You can look at them. You can see where they are. You can see who is comming.<br/>
                But you can't go unless you have the code.
            </h2>
        </div>
    </div>
</section>

<div class="container card-box">
    <div class="card-box__title">
        Where would you like to go?
    </div>
    <form method="post">
        <div class="columns">
            <div class="column">
                <div class="field">
                    <div class="control">
                        <input asp-for="Filter.Name" class="input is-medium" placeholder="title">
                    </div>

                    <span class="has-text-danger"></span>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <div class="control">
                        <input asp-for="Filter.Location" class="input is-medium" placeholder="location">
                    </div>

                    <span class="has-text-danger"></span>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <div class="control">
                        <input asp-for="Filter.Date" class="input is-medium" placeholder="date">
                    </div>

                    <span class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-2">
                <div class="field">
                    <button class="button is-primary is-medium is-fullwidth">search</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="container">
    <div class="columns is-multiline">
        @foreach (var item in Model.Events)
        {
            @Html.Partial("_EventPartial", item);
        }

    </div>
</div>


