@model CreateEventViewModel

@{
    ViewData["Title"] = "Create Event";
}

@section Styles {
    <link href="~/lib/bulma-calendar/dist/bulma-calendar.min.css" rel="stylesheet"/>
}

@section Scripts {
    <script src="~/lib/bulma-calendar/dist/bulma-calendar.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded',
            function() {
                var datePicker = new bulmaCalendar(document.getElementById('datepicker'),
                    {
                        overlay: true,
                        closeOnSelect: true,
                        dateFormat: 'dd.mm.yyyy'
                    });
            });
    </script>
}

<section class="hero is-medium has-bg-img">
    <img src="~/img/bg.jpg" class="is-bg-img"/>
    <div class="hero-filter"></div>
    <div class="hero-head">
        @Html.Partial("_NavigationPartial")
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-spaced">
                Create an event
            </h1>
            <h2 class="subtitle">
                If you can't join an event then make one of your own.<br/>
                Let's see if anyone is going to show up...
            </h2>
        </div>
    </div>
</section>

<div class="container card-box">
    <div class="card-box__title">
        Create a new event
    </div>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="columns is-multiline">
            <div class="column is-12">
                <div class="field">
                    <label class="label" asp-for="Name"></label>
                    <div class="control has-icons-left">
                        <input asp-for="Name" class="input is-medium">
                        <span class="icon is-small is-left">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Name" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-12">
                <div class="field">

                    <label class="label" asp-for="Description"></label>
                    <div class="control">
                        <textarea asp-for="Description" class="textarea is-medium"></textarea>
                    </div>
                    <span asp-validation-for="Description" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-12">
                <div class="field">

                    <label class="label" asp-for="SecretCode"></label>
                    <div class="control has-icons-left">
                        <input asp-for="SecretCode" class="input is-medium">
                        <span class="icon is-small is-left">
                            <i class="fa fa-key"></i>
                        </span>
                    </div>
                    <span asp-validation-for="SecretCode" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-12">
                <div class="field">
                    <label class="label" asp-for="Location"></label>
                    <div class="control has-icons-left">
                        <input asp-for="Location" class="input is-medium">
                        <span class="icon is-small is-left">
                            <i class="fa fa-map-marker"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Location" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-12">
                <div class="field">
                    <label class="label" asp-for="Date"></label>
                    <div class="control has-icons-left">
                        <input asp-for="Date" id="datepicker" class="input is-medium" autocomplete="off">
                        <span class="icon is-small is-left">
                            <i class="fa fa-clock"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Date" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-12">
                <div class="field">
                    <label class="label" asp-for="Image"></label>
                    <div class="file has-name is-medium is-fullwidth">
                        <label class="file-label">
                            <input class="file-input" asp-for="Image" type="file">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Choose a file…
                                </span>
                            </span>
                            <span class="file-name">
                                No image selected.
                            </span>
                        </label>
                    </div>
                    <span asp-validation-for="Image" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-2">
                <div class="field">
                    <button type="submit" class="button is-primary is-medium is-fullwidth">create</button>
                </div>
            </div>

        </div>
    </form>
</div>