@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800");
.font-size-small {
  font-size: 0.75rem; }

.font-size-regular {
  font-size: 1rem; }

.font-size-large {
  font-size: 1.5rem; }
  @media (max-width: 1200px) {
    .font-size-large {
      font-size: calc(1.1rem + 0.53333vw) ; } }

.font-size-x-large {
  font-size: 2rem; }
  @media (max-width: 1200px) {
    .font-size-x-large {
      font-size: calc(1.2rem + 1.06667vw) ; } }

.font-size-xx-large {
  font-size: 3rem; }
  @media (max-width: 1200px) {
    .font-size-xx-large {
      font-size: calc(1.4rem + 2.13333vw) ; } }

.font-size-xxx-large {
  font-size: 4rem; }
  @media (max-width: 1200px) {
    .font-size-xxx-large {
      font-size: calc(1.6rem + 3.2vw) ; } }

.font-size-xxxx-large {
  font-size: 6rem; }
  @media (max-width: 1200px) {
    .font-size-xxxx-large {
      font-size: calc(2rem + 5.33333vw) ; } }

.font-size-small {
  font-size: 0.75rem; }

.font-size-regular {
  font-size: 1rem; }

.font-size-large {
  font-size: 1.5rem; }
  @media (max-width: 1200px) {
    .font-size-large {
      font-size: calc(1.1rem + 0.53333vw) ; } }

.font-size-x-large {
  font-size: 2rem; }
  @media (max-width: 1200px) {
    .font-size-x-large {
      font-size: calc(1.2rem + 1.06667vw) ; } }

.font-size-xx-large {
  font-size: 3rem; }
  @media (max-width: 1200px) {
    .font-size-xx-large {
      font-size: calc(1.4rem + 2.13333vw) ; } }

.font-size-xxx-large {
  font-size: 4rem; }
  @media (max-width: 1200px) {
    .font-size-xxx-large {
      font-size: calc(1.6rem + 3.2vw) ; } }

.font-size-xxxx-large {
  font-size: 6rem; }
  @media (max-width: 1200px) {
    .font-size-xxxx-large {
      font-size: calc(2rem + 5.33333vw) ; } }

body {
  font-family: "Montserrat", sans-serif;
  background-color: #FBFBFD; }

#index .title {
  font-weight: 800; }

.hero {
  background-size: cover;
  position: relative;
  overflow: visible; }
  .hero .hero-filter {
    background: linear-gradient(#FADA5E, #660066);
    opacity: .8;
    width: 100%;
    height: 100%;
    position: absolute; }
  .hero .title {
    color: #FCFCFC;
    font-size: 3rem; }
    @media (max-width: 1200px) {
      .hero .title {
        font-size: calc(1.4rem + 2.13333vw) ; } }
  .hero .subtitle {
    color: #FCFCFC;
    font-size: 1.5rem; }
    @media (max-width: 1200px) {
      .hero .subtitle {
        font-size: calc(1.1rem + 0.53333vw) ; } }

.has-background {
  background-color: #FBFBFD; }

.font-size-small {
  font-size: 0.75rem; }

.font-size-regular {
  font-size: 1rem; }

.font-size-large {
  font-size: 1.5rem; }
  @media (max-width: 1200px) {
    .font-size-large {
      font-size: calc(1.1rem + 0.53333vw) ; } }

.font-size-x-large {
  font-size: 2rem; }
  @media (max-width: 1200px) {
    .font-size-x-large {
      font-size: calc(1.2rem + 1.06667vw) ; } }

.font-size-xx-large {
  font-size: 3rem; }
  @media (max-width: 1200px) {
    .font-size-xx-large {
      font-size: calc(1.4rem + 2.13333vw) ; } }

.font-size-xxx-large {
  font-size: 4rem; }
  @media (max-width: 1200px) {
    .font-size-xxx-large {
      font-size: calc(1.6rem + 3.2vw) ; } }

.font-size-xxxx-large {
  font-size: 6rem; }
  @media (max-width: 1200px) {
    .font-size-xxxx-large {
      font-size: calc(2rem + 5.33333vw) ; } }

.button--hero {
  border-width: 2px;
  margin-top: 20px; }

.button--facebook {
  background-color: #4267b2;
  color: #FCFCFC;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: none; }
  .button--facebook:hover {
    color: #FCFCFC;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.font-size-small {
  font-size: 0.75rem; }

.font-size-regular {
  font-size: 1rem; }

.font-size-large {
  font-size: 1.5rem; }
  @media (max-width: 1200px) {
    .font-size-large {
      font-size: calc(1.1rem + 0.53333vw) ; } }

.font-size-x-large {
  font-size: 2rem; }
  @media (max-width: 1200px) {
    .font-size-x-large {
      font-size: calc(1.2rem + 1.06667vw) ; } }

.font-size-xx-large {
  font-size: 3rem; }
  @media (max-width: 1200px) {
    .font-size-xx-large {
      font-size: calc(1.4rem + 2.13333vw) ; } }

.font-size-xxx-large {
  font-size: 4rem; }
  @media (max-width: 1200px) {
    .font-size-xxx-large {
      font-size: calc(1.6rem + 3.2vw) ; } }

.font-size-xxxx-large {
  font-size: 6rem; }
  @media (max-width: 1200px) {
    .font-size-xxxx-large {
      font-size: calc(2rem + 5.33333vw) ; } }

.navbar {
  background-color: transparent;
  padding-top: 2rem;
  box-shadow: none; }
  .navbar .navbar-item {
    font-size: 0.875rem;
    text-transform: lowercase;
    color: #FCFCFC; }
    .navbar .navbar-item:hover {
      background-color: rgba(0, 0, 0, 0.1);
      color: #FCFCFC;
      border-radius: 5px; }
  @media (max-width: 1087px) {
    .navbar .navbar-menu {
      background-color: transparent;
      box-shadow: none; }
    .navbar .navbar-item {
      padding-top: 15px;
      padding-bottom: 15px; }
      .navbar .navbar-item:hover {
        border-radius: 0; } }
  .navbar .navbar-burger {
    color: #FCFCFC; }

.font-size-small {
  font-size: 0.75rem; }

.font-size-regular {
  font-size: 1rem; }

.font-size-large {
  font-size: 1.5rem; }
  @media (max-width: 1200px) {
    .font-size-large {
      font-size: calc(1.1rem + 0.53333vw) ; } }

.font-size-x-large {
  font-size: 2rem; }
  @media (max-width: 1200px) {
    .font-size-x-large {
      font-size: calc(1.2rem + 1.06667vw) ; } }

.font-size-xx-large {
  font-size: 3rem; }
  @media (max-width: 1200px) {
    .font-size-xx-large {
      font-size: calc(1.4rem + 2.13333vw) ; } }

.font-size-xxx-large {
  font-size: 4rem; }
  @media (max-width: 1200px) {
    .font-size-xxx-large {
      font-size: calc(1.6rem + 3.2vw) ; } }

.font-size-xxxx-large {
  font-size: 6rem; }
  @media (max-width: 1200px) {
    .font-size-xxxx-large {
      font-size: calc(2rem + 5.33333vw) ; } }

.event {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .event__content {
    padding: 10px 20px; }
  .event__name {
    color: #2E282A;
    font-weight: 500;
    text-transform: uppercase; }
  .event__description {
    margin-top: 5px;
    font-size: 0.8rem; }
  .event__date, .event__location {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #666A73; }
  .event__date {
    margin-top: 20px; }
  .event__actions {
    margin-top: auto;
    border-top: 1px solid #EFF2F5;
    height: 40px;
    text-align: right; }
    .event__actions .action-item {
      display: inline-block;
      font-size: 20px;
      margin-top: 5px;
      width: 40px;
      height: 40px;
      border-left: 1px solid #EFF2F5;
      box-sizing: border-box;
      text-align: center; }
      .event__actions .action-item a {
        color: #666A73; }
      .event__actions .action-item:hover {
        cursor: pointer; }

.font-size-small {
  font-size: 0.75rem; }

.font-size-regular {
  font-size: 1rem; }

.font-size-large {
  font-size: 1.5rem; }
  @media (max-width: 1200px) {
    .font-size-large {
      font-size: calc(1.1rem + 0.53333vw) ; } }

.font-size-x-large {
  font-size: 2rem; }
  @media (max-width: 1200px) {
    .font-size-x-large {
      font-size: calc(1.2rem + 1.06667vw) ; } }

.font-size-xx-large {
  font-size: 3rem; }
  @media (max-width: 1200px) {
    .font-size-xx-large {
      font-size: calc(1.4rem + 2.13333vw) ; } }

.font-size-xxx-large {
  font-size: 4rem; }
  @media (max-width: 1200px) {
    .font-size-xxx-large {
      font-size: calc(1.6rem + 3.2vw) ; } }

.font-size-xxxx-large {
  font-size: 6rem; }
  @media (max-width: 1200px) {
    .font-size-xxxx-large {
      font-size: calc(2rem + 5.33333vw) ; } }

.participants {
  margin-top: 5rem; }
  .participants .participant__image {
    margin: 0 auto; }
  .participants .participant:nth-child(even) {
    background-color: #f2f2f2; }

.font-size-small {
  font-size: 0.75rem; }

.font-size-regular {
  font-size: 1rem; }

.font-size-large {
  font-size: 1.5rem; }
  @media (max-width: 1200px) {
    .font-size-large {
      font-size: calc(1.1rem + 0.53333vw) ; } }

.font-size-x-large {
  font-size: 2rem; }
  @media (max-width: 1200px) {
    .font-size-x-large {
      font-size: calc(1.2rem + 1.06667vw) ; } }

.font-size-xx-large {
  font-size: 3rem; }
  @media (max-width: 1200px) {
    .font-size-xx-large {
      font-size: calc(1.4rem + 2.13333vw) ; } }

.font-size-xxx-large {
  font-size: 4rem; }
  @media (max-width: 1200px) {
    .font-size-xxx-large {
      font-size: calc(1.6rem + 3.2vw) ; } }

.font-size-xxxx-large {
  font-size: 6rem; }
  @media (max-width: 1200px) {
    .font-size-xxxx-large {
      font-size: calc(2rem + 5.33333vw) ; } }

.card-box {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 50px 30px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 3rem; }
  @media (min-width: 767px) {
    .card-box {
      margin-top: -75px; } }
  .card-box__title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.875rem;
    color: #660066;
    font-weight: 600; }
    @media (max-width: 1200px) {
      .card-box__title {
        font-size: calc(1.175rem + 0.93333vw) ; } }
  .card-box__subtitle {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.25rem; }
    @media (max-width: 1200px) {
      .card-box__subtitle {
        font-size: calc(1.05rem + 0.26667vw) ; } }

